
scripts/acquisition/.ipynb_checkpoints/99-Sandbox-checkpoint.ipynb
scripts/acquisition/__pycache__/scrape_census.cpython-37.pyc
scripts/acquisition/SECRET_api-key.txt
*.ipynb
data/HSall_members.csv
.DS_Store
.Rhistory
*.pyc
data/ideo/HSall_members.csv
data/ideo/County Presidential Returns 2000-2020.md
data/ideo/countypres_2000-2020.csv
data/ideo/state-ideo-data.csv
data/ideo/lawmaker-subset-106-117.csv
scripts/analysis/sandbox/*.R
