
.Rhistory
*.ipynb
data/.DS_Store
data/hate-crime-data/.DS_Store
data/tweet-data/.DS_Store
*.csv
*.xlsx
*.txt
data/tweet-data/fips-codes-to-scrape.json
scripts/hate-speech-classifier/credentials.json
plots/.DS_Store
